<h2>Parent</h2>
<section>
  <div>
    <h3>
      {{ "Random number list from" | titlecase }} <b>Child</b>:
      {{ numbersFromChild | parseRandomNumberList }}
    </h3>
    <button (click)="sendRandomNumberToChild()">
      {{ "Send random number to Child" | titlecase }}
    </button>
  </div>
  <div>
    <h3>
      {{ "Is last number sent from" | titlecase }} <b>Grand Child</b> Prime? :
      {{ numbersFromGrandChild | isLastNumberPrime }}
    </h3>
    <button (click)="sendRandomNumberToGrandChild()">
      {{ "Send random number to Grand Child" | titlecase }}
    </button>
  </div>
</section>
<app-child
  class="box"
  (onNumberToParent)="onNumberFromChild($event)"
  (onGrandChildToParent)="onNumberFromGrandChild($event)"
  [numbersFromParent]="numbersToChild"
  [numbersToGrandChild]="numbersToGrandChild"
></app-child>
